.shipping{
    width: 100%;
    display: flex;
}
.bigship{
    width: 52.5%;
    height: 500px;
}
.fill-ship{
    width: 70%;
    margin: 0 10% 0 20%;
}
.steps-s{
    display: flex;
    gap: 1rem;
    padding-bottom: 3rem;
}
.step-a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #56B280;
    cursor: pointer;
    text-decoration: none;
}
.step-b{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #272727;
    cursor: pointer;
}
.step-c{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #616161;
}
.step-arrow{
    color:  #000000;
    padding-top: 0.2rem;
}

.summarybox{
    width: 445px;
    height: 117px;
    box-sizing: border-box;
    border: 1px solid rgba(86, 178, 128, 0.2);
    border-radius: 7px;
}
.summary{
    display: flex;
    gap: 0.5rem;
    width: 404px;
    height: 16px;
    margin: auto;
    padding-top: 1.5rem;
}
.placed-text{
    width: 45px;
    height: 16px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.4px;
    color: #818181;
}
.sum-input{
    border: none;
    outline: none;
    width: 308px;
    height: 16px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.6px;
    color: #272727;
}
.sum-btn{
    cursor: pointer;
    width: 33px;
    height: 16px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #56B280;
}
.middleline hr{
    width: 410px;
    height: 0px;margin: auto;
    border: 1px solid rgba(86, 178, 128, 0.2);
    transform: rotate(0.14deg);
    margin-top: 1rem;
}
.ship-m{
    width: 160px;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #272727;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
.shipbox{
    box-sizing: border-box;
    width: 445px;
    height: 58px;
    border: 1px solid #E5E5E5;
    border-radius: 7px;
    margin-bottom: 10rem;
}
.ship-b{
    display: flex;
    gap: 1rem;
    width: 404px;
    height: 16px;
    margin: auto;
    padding-top: 1.2rem;
}
.radio{
    display: inline-flex;
    width: 292px;
    height: 16px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
    cursor: pointer;
}
#myRadio{
    display: none;
}

.radio-radio{
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 3px solid #DBDBDB;
    border-radius: 50%;
    margin-right: 10px;
    padding: 0.2px;
}
.radio-radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #87D6AC;
    border-radius: 50%;
    transform: scale(0);
    transition:transform 0.15s;
}
#myRadio:checked + .radio-radio::after{
    transform: scale(1);
}
.free{
    width: 33px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    color: #272727;
    padding-left: 4.5rem;
}

@media screen and (max-width: 1024px) {
    .fill-ship{
        width: 70%;
        margin: 0 10% 0 10%;
    }
    .shipg .below-d button{
        padding: 8px 38px;
        gap: 7px;
        width: 200px;
        height: 40px;
        font-size: 18px;
    }
        
}

@media screen and (max-width: 768px) {
    .summarybox{
        width: 300px;
        height: 117px;
    }
    .summary{
        width: 290px;
        height: 16px;
    }
    .placed-text{
        width: 45px;
        height: 16px;
        font-size: 11px;
    }
    .sum-input{
        width: 290px;
        height: 14px;
        font-size: 14px;
    }
    .sum-btn{
        width: 30px;
        height: 16px;
        font-size: 12px;
        line-height: 10px;
    }
    .middleline hr{
        width: 270px;
    }
    .ship-m{
        width: 150px;
        height: 26px;
        font-size: 17px;
    }
    .shipbox{
        width: 300px;
        height: 58px;
        margin-bottom: 5rem;
    }
    .ship-b{
        display: flex;
        gap: 1rem;
        width: 280px;
    }
    .radio{
        padding-left: 0.5rem;
        width: 292px;
        height: 16px;
    }

    .free{
        width: 33px;
        height: 16px;
        font-size: 12px;
    }
    .shipg .below-d button{
        padding: 8px 25px;
        gap: 7px;
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
    .shipg>div:nth-last-child(2){
        margin-bottom: -30%;
    }
    
    .steps-s{
        display: flex;
        gap: 0.5rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 425px) {
    .shipping{
        flex-direction: column;
    }
    .shipping .coupon{
        margin: -1rem 0;
    }
    .shipg>div:nth-last-child(2){
        margin-bottom: -60%;
    }
}